.alls{
	width:100%;
	height:1.3rem;
	overflow:hidden;
	box-sizing:border-box;
	padding:0.2rem;
}



.ps{
	padding:0 0.2rem;
	height:0.3rem;
	background:#ccc;
	float:left;
	margin-top:0.2rem;
	margin-right:0.2rem;
	line-height:0.3rem;
	border-radius:0.1rem;
}
body{
	background:#fff
}